* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

body {
  background-image: url(https://global-geography.org/attach/Geography/Africa/Egypt/Pictures/Luxor/Luxor_Temple_Complex_at_Night_1/ay282_Tempel_von_Luxor_bei_Nachtjpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding-block: 1em;
}

.show-counter {
  margin: auto;
  margin-top: 40%;
  width: max-content;
  display: flex;
}

.show-counter>p {
  margin-top: 10%;
  font-weight: bold;
  font-size: 1.5rem;
}

.countdown {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  display: block;
}

.countdown p {
  margin: 0;
  display: block;
}
.countdown span {
  display: block;
  font-weight: bold;
  font-size: 1rem;
}

.arrival-msg {
  display: block;
  font-size: 60px;
  text-align: center;
}
@media all and (min-width: 500px) {
  h1 {
    font-size: 60px;
  }

  .show-counter {
    margin-top: 0%;
  }
  .show-counter>p {
    margin-top: 12%;
  }
  .countdown {
    font-size: 100px;
  }
}